/hw-netbeans/JC-HW5-swing-intro/nbproject/private/
/hw-netbeans/JC-HW5-swing-intro/build/
/hw-netbeans/JC-HW5-swing-intro_1/nbproject/private/
/hw-netbeans/JC-HW5-swing-intro_1/build/
/hw-netbeans/JC-HW5-swing-intro_2/nbproject/private/
/hw-netbeans/JC-HW5-swing-intro_2/build/
/hw-netbeans/JC-HW5-swing-intro-doubleList/build/
/hw-netbeans/JC-HW5-swing-intro-doubleList/nbproject/private/
/hw-netbeans/Bicycle/nbproject/private/
/hw-netbeans/JC-HW5-swing-intro-b/build/
/hw-netbeans/JC-HW5-swing-intro-b/nbproject/private/
/hw-netbeans/JC-HW5-swing-intro-c/build/
/hw-netbeans/JC-HW5-swing-intro-c/nbproject/private/
/hw-netbeans/JC-HW5-swing-intro-a/build/
/hw-netbeans/JC-HW5-swing-intro-a/nbproject/private/
/hw-netbeans/RoadBike/nbproject/private/
/hw-netbeans/JC-HW5-swing-intro-a/dist/
/hw-netbeans/JC-HW5-swing-intro-c/dist/

*.properties
*.class
*.xml
/hw-netbeans/JC-HW5-swing-intro-b ArrayList/build/
/hw-netbeans/JC-HW5-swing-intro-b/dist/
/hw-netbeans/JC-HW5-swing-intro-5a/build/
/hw-netbeans/JC-HW5-swing-intro-5b/build/
/hw-netbeans/JC-HW5-swing-intro-5b/dist/
/hw-netbeans/jc-hw5b-swing-intro/build/
/hw-netbeans/jc-hw5b-swing-intro/dist/
/hw-netbeans/jc-hw5a-swing-intro/build/
/jc-hw5b-swing-intro/build/
/jc-hw5b-swing-intro/dist/