/hw-netbeans/JC-HW5-swing-intro/nbproject/private/
/hw-netbeans/JC-HW5-swing-intro/build/
/hw-netbeans/JC-HW5-swing-intro_1/nbproject/private/
/hw-netbeans/JC-HW5-swing-intro_1/build/
/hw-netbeans/JC-HW5-swing-intro_2/nbproject/private/
/hw-netbeans/JC-HW5-swing-intro_2/build/
/hw-netbeans/JC-HW5-swing-intro-doubleList/build/
/hw-netbeans/JC-HW5-swing-intro-doubleList/nbproject/private/